<!DOCTYPE html>
<html lang="en">
  {% load static %}
  
<head>
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration</title>
  <link rel="stylesheet" href="{% static 'auth/css/register.css' %}">
</head>
<body>
  <div class="container">
    <h2>User Registration</h2>
    {% if messages %}
      {% for message in messages %}
        <p class="message {{ message.tags }}">{{ message }}</p>
      {% endfor %}
    {% endif %}


    <form method="POST">
      {% csrf_token %}

      <div class="form-grid">
        <div class="form-field">
          <label for="id_first_name">First Name</label>
          {{ form.first_name }}
        </div>

        <div class="form-field">
          <label for="id_last_name">Last Name</label>
          {{ form.last_name }}
        </div>

        <div class="form-field">
          <label for="id_date_of_birth">Date of Birth</label>
          {{ form.date_of_birth }}
        </div>

        <div class="form-field">
          <label for="id_gender">Gender</label>
          {{ form.gender }}
        </div>

        <div class="form-field">
          <label for="id_email">Email</label>
          {{ form.email }}
        </div>

      <div class="form-field password-container">
      <label for="id_password">Password</label>
      {{ form.password }}
      <i class="fa-solid fa-eye toggle-password" onclick="togglePassword('id_password', this)"></i>
    </div>
  </div>
      <button type="submit">Register</button>
    </form>

    <div class="form-container">
      <p>Already have an account? <a class="register-link" href="{% url 'login' %}">Login</a></p>
    </div>
  </div>
  <script src="{% static 'auth/js/register.js' %}"></script>
</body>
</html>