<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8" />
  <title>Refill Reminder</title>
  <link rel="stylesheet" href="{% static 'medicine_management/css/refill_reminder.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
  <div class="container">
    <div class="icon-wrapper">
      <i class="fa-solid fa-boxes-packing"></i>
    </div>
    <h2>Do you want to get reminder to refill your inventory?</h2>
    <form method="POST" action="{% url 'refill_reminder' %}">
      {% csrf_token %}
      
      <input type="hidden" name="medicine_name" value="{{ medicine_name }}">
      <input type="hidden" name="recurrence" value="{{ recurrence|default:'every_day' }}">
      <input type="hidden" name="reminder_time" value="{{ reminder_time|default:'' }}">
      <input type="hidden" name="dose" value="{{ dose|default:'' }}">

     <div class="button-container">
  <a href="{% url 'yes_refill' %}" class="dashboard-button yes" role="button">Yes</a>

  <a href="{% url 'no_reason_page' %}" class="dashboard-button no" role="button">No</a>

</div>

    </form>
  </div>
</body>
</html>
